name: Hoge
on: [push]
jobs:
  set-up:
    name: Set Up
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: yarn
      
      - name: Check yarn version
        run: yarn --version

      - name: Set yarn version to v3
        run: yarn set version 3.2.0

      - name: Check yarn v3 version
        run: yarn --version

      - name: Install packages
        run: yarn install --immutable
